<!-- Trang danh sach tai khoan danh cho Amin -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 a2">
        <h1></h1>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/addacc'">Thêm tài khoản</button>
      </div>
      <div class="col-10 a3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Tên</th>
              <th scope="col">Tài khoản</th>
              <th scope="col">Mật khẩu</th>
              <th scope="col">Giới tính</th>
              <th scope="col">Email</th>
              <th scope="col">Địa chỉ</th>
              <th scope="col">Quyền</th>
              <th scope="col">Cấu hình</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i<data.rows.length;i++) { %>
              <tr>
                <th scope="row">
                  <%= i + 1 %>
                </th>
                <td>
                  <%= data.rows[i].name %>
                </td>
                <td>
                  <%= data.rows[i].account %>
                </td>
                <td>
                  <%= data.rows[i].password %>
                </td>
                <td><% if (data.rows[i].idgender === 1) 
                          { %> nam <% } 
                       else if (data.rows[i].idgender === 2) 
                          { %> nữ <% } 
                       else 
                          { %> Rỗng <% } %>
                </td>
                <td>
                  <%= data.rows[i].email %>
                </td>
                <td>
                  <%= data.rows[i].address %>
                </td>
                </td>
                <td><%  if (data.rows[i].idgroup === 1) 
                            { %> Admin <% } 
                        else if (data.rows[i].idgroup === 2) 
                            { %> User <% } 
                        else 
                            { %> Rỗng <% } %>
                </td>
                <td>
                  <button class="btn btn-warning">
                    <a href="/user_edit/<%= data.rows[i].idacc %>"><i class="fas fa-pencil-alt">Sửa</i></a> 
                 </button>
                  <button class="btn btn-warning">
                    <a href="/user_delete/<%= data.rows[i].idacc %>"><i class="fas fa-pencil-alt">Xóa</i></a> 
                 </button>
                  
                </td>
              </tr>
            <% }%>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</body>
</html>


<!-- Xong -->
